%% IP addresses can be in "127.0.0.1" OR {127,0,0,1} format. Or IPv6 "00::" format.
[{'open-cgf',[
%   {tcp_server, false},                   %% start a TCP server? NOT YET SUPPORTED
%   {max_restarts, 10},                    %% Maximum allowed process crash frequency within the last 30s. More restarts than this will cause app failure
   {gtpp_version, 2},		           %% GTP' version to use to start (0-2). Defaults to 2.
   {listen, {{65,23,156,215},3386}},       %% which interface/port to listen on
   {cdr_dir, "/tmp/log/"},                 %% directory for cdr files to be written  BOTH DIRECTORIES MUST BE ON SAME VOLUME
   {cdr_temp_dir, "/tmp/log_tmp/"},         %% directory for files to be written in before being closed
%   {cdr_post_close_command, none},        %% command to execute once CDR file is closed - expects to be in path or start dir. Alternatively, 'none'
%   {cdr_file_age_limit_seconds, 60},      %% file will be closed (and records confirmed) after this expires
%   {cdr_file_record_limit, 100},          %% file will be closed (and records confirmed) after this expires
%   {cdr_possible_duplicate_limit_seconds, 60},
%   {cdf_list, [{{65,23,156,214}, 3386}]}, %% list of CDFs to notify when CGF is initialised, or []. Defaults to [] e.g. none
%   {syslog, {"127.0.0.1",514}},  	   %% Syslog server address, or 'none' e.g. {syslog, none}. Defaults to none.
    {log_dir, "/tmp/"},                    %% Directory to log error/info reports to, or 'none' to disable logging.
%   {peer_cgf, {127,0,0,1}},               %% peer to redirect traffic to when this cgf is disabled, or 'none' (without quotes). Defaults to none.
    {dummy, here_to_allow_commenting_out_of_config_items} 
  ]
}].
